<style>
big { font-size: 400% ; line-height: 150% }
.c1 { background: white ; color: #F0F }
.c2 { background: white ; color: #00F }
.c3 { background: white ; color: #0FF }
.c4 { background: white ; color: #0F0 }
.c5 { background: white ; color: #FF0 }
.c6 { background: white ; color: #F00 }
</style>

